<div class="card">
  <div class="card-body">
    <a href="./post/{{id}}">
      <h4 class="card-title bg-dark text-light text-left">
        {{title}}
      </h4>
   </a>
      <p class="card-text"> 
     {{post_content}}
     </p>
     
     <div class="text-right">
       {{user.username}} | {{new_date createdAt}}

     </div>

   </div>
  </div>

</div>